


<div class="container text-center">
    <hr>
        <h1>
            Error en el Login
        </h1>
    <hr>

    <figure>
        <img src="https://rcsdigital.com.au/wp-content/uploads/2017/12/404-errors-1536x891.png" height="600px" alt="imagen del error al acceso">
    </figure>

</div>


