



<div class="container">
    <h1 style="color: red">
        Formualario de Registro
    </h1>

    <div class="m-5">
        <form action="/registro" method="post">
        <div class="mb-3 row">
            <label
                for="nombre"
                class="col-sm-2 col-form-label"
            >Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre" name="nombre" required/>
            </div>
            </div>
            <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input
                type="email"
                class="form-control"
                id="email"
                placeholder="email@example.com"
                name="email"
                required/>
            </div>
            </div>
            <div class="mb-3 row">
            <label
                for="password"
                class="col-sm-2 col-form-label"
            >Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" required/>
            </div>
            </div>
            <div class="m-5 text-center">
                <button type="submit" class="btn btn-danger w-75">Registrarse</button>
            </div>
        </form>
    </div>
</div>